.header {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 1px solid green;
    align-items: center;
    padding: 20px;

}

.title{
    color: blue;
    text-align: center;
}

.text{
    color: color;
    font-weight: bold;
}